Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 2
UseTab: ForIndentation
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
DerivePointerAlignment: false
